* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 100%;
  padding: 20px;
  min-height: 600px;
  border: 1px solid black;
  background-color: white;
}

.question-choices {
  display: flex;
  flex-direction: column;
}

.start-page, .question-page, .feedback-correct, .feedback-wrong, .final-page {
  /* border: 2px dotted green; */
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  padding: 5px;
  background-color: lightgrey;
}

.flex-center {
  display: flex;
  justify-content: center;
}

button {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

h2, p {
  display: block;
  margin: 0 auto;
  text-align: center;
}